*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

input:focus, textarea:focus {
  outline: none;
}

body {
  font-family: "Rubik";
  font-style: normal;
}

.wrapper-page {
  overflow: hidden;
}

.wrapper {
  padding: 0 10px;
}

.slider-range {
  border: unset;
  box-shadow: unset;
  background: #ECECEC;
  border-radius: 8px;
}
.slider-range .noUi-connect {
  background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF9F47 73.78%);
}
.slider-range .noUi-handle {
  width: 21px;
  height: 21px;
  background: #FFA147;
  box-shadow: unset;
  border: unset;
  border-radius: 50%;
  top: -8px;
}
.slider-range .noUi-handle::after, .slider-range .noUi-handle::before {
  background: unset;
  height: 6px;
  width: 4px;
  top: 50%;
  transform: translateY(-50%);
  left: auto;
  right: auto;
}
.slider-range .noUi-handle::after {
  background: url(../images/icon/Vector-right.svg) no-repeat;
  background-size: cover;
  left: auto;
  right: 5px;
}
.slider-range .noUi-handle::before {
  background: url(../images/icon/Vector-left.svg) no-repeat;
  background-size: cover;
  left: 5px;
}
.slider-range .noUi-tooltip {
  background: unset;
  border: unset;
  border-radius: unset;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #45515F;
  bottom: 82%;
}

.title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 33px;
  text-align: center;
  color: #45515F;
  margin-bottom: 17px;
}

@media screen and (min-width: 800px) {
  .wrapper {
    padding: 0;
    max-width: 767px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 1280px;
  }
}
.header {
  position: relative;
  z-index: 100;
  margin-bottom: 15px;
}
.header__row {
  display: flex;
  align-items: center;
  gap: 0 22px;
}
.header__left {
  flex-grow: 1;
}
.header__center {
  display: none;
}
.header__button {
  display: inline-block;
  flex-shrink: 0;
}
.header__button span {
  display: none;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 0 15px;
}
.header__burger {
  flex-shrink: 0;
}

.header-fixed {
  display: none;
}

.logo {
  max-width: 126px;
  height: 24px;
}
.logo svg {
  height: auto;
}

.btn {
  padding: 12px 20px 13px;
  background: #FF7B00;
  border-radius: 8px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.burger {
  width: 39px;
  height: 39px;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.burger span {
  width: 20px;
  height: 3px;
  background: #FF7B00;
  border-radius: 8px;
  display: block;
  position: relative;
}
.burger span::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: inherit;
  position: absolute;
  left: 0;
  top: -7px;
}
.burger span::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: inherit;
  position: absolute;
  left: 0;
  top: 7px;
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 27px;
}
.menu__link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

@media screen and (min-width: 800px) {
  .header {
    margin-bottom: 29px;
  }
  .header__row {
    gap: 0 48px;
    justify-content: space-between;
  }
  .header__left {
    flex-grow: unset;
  }
  .header__center {
    display: block;
  }
  .header__button {
    padding: 18px 27px 17px;
    font-size: 13px;
    line-height: 15px;
  }
  .header__right {
    gap: 0;
  }
  .header__burger {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .header__button {
    padding: 18px 25px 17px 33px;
  }
  .header__button span {
    display: inline-block;
  }
  .menu__list {
    gap: 10px 57px;
  }
  .menu__link {
    font-size: 18px;
    line-height: 21px;
  }
}
.intro {
  padding: 14px 0 34px;
  background: url(../images/img/main-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.body-intro__info {
  margin-bottom: 37px;
}
.body-intro__wrapper-btn {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}
.body-intro h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 111.5%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 18px;
}
.body-intro__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 133.5%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 18px;
}
.body-intro__attention {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 145.5%;
  text-align: center;
  color: #FFFFFF;
}

.formulation {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  position: relative;
}
.formulation::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.formulation__content {
  position: relative;
  z-index: 1;
  padding: 29px 28px 36px;
  border-radius: 15px;
}
.formulation__range + .formulation__range {
  margin-top: 43px;
}
.formulation__range-slider {
  height: 7px;
  margin-bottom: 10px;
}
.formulation__range-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  color: #45515F;
}
.formulation__range-limit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formulation__range-min {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #C0C2C5;
}
.formulation__range-max {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #C0C2C5;
}
.formulation__wrapper-btn {
  display: flex;
  justify-content: center;
  margin: 25px 0 63px;
}
.formulation__detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px 10px;
}
.formulation__detail-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #45515F;
  margin-bottom: 2px;
}
.formulation__detail-data {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #F28925;
}

.btn-fire {
  width: 100%;
  max-width: 360px;
  display: flex;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #3C4260;
  position: relative;
}
.btn-fire__content {
  padding: 15px 27px 13px 64px;
}
.btn-fire__icon {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 8px;
  top: -8px;
  transform: translateY(-50deg);
}
.btn-fire__icon img {
  max-width: auto;
  height: 100%;
}

.btn-main {
  display: inline-block;
  padding: 21px 44px 22px;
  background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF7347 73.78%);
  border-radius: 8px;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 800px) {
  .intro {
    padding: 29px 0 21px;
  }
  .body-intro__wrapper-btn {
    margin-bottom: 25px;
  }
  .body-intro h1 {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .body-intro__text {
    font-size: 27px;
    margin-bottom: 10px;
  }
  .formulation {
    max-width: 428px;
    margin-left: auto;
    position: relative;
    z-index: 2;
  }
  .formulation::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/img/girl.png) no-repeat;
    position: absolute;
    left: -567px;
    top: -156px;
    z-index: 1;
    width: 568px;
    height: 751px;
  }
  .formulation__content {
    padding: 29px 19px 36px 28px;
  }
  .formulation__detail {
    gap: 21px 52px;
  }
  .btn-fire {
    max-width: 382px;
    display: block;
  }
  .btn-fire__content {
    padding: 15px 23px 15px 75px;
  }
}
@media screen and (min-width: 1440px) {
  .intro {
    padding: 36px 0 68px;
  }
  .intro__header {
    margin-bottom: 64px;
  }
  .body-intro__row {
    display: flex;
    justify-content: space-between;
  }
  .body-intro__info {
    padding-top: 71px;
    max-width: 477px;
  }
  .body-intro__wrapper-btn {
    margin-bottom: 20px;
    justify-content: unset;
  }
  .body-intro h1 {
    font-size: 48px;
    margin-bottom: 15px;
    text-align: unset;
  }
  .body-intro__text {
    font-size: 27px;
    line-height: 133.5%;
    margin-bottom: 110px;
    text-align: unset;
  }
  .body-intro__attention {
    text-align: unset;
    max-width: 300px;
  }
  .formulation::before {
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }
  .formulation::after {
    left: -567px;
    top: -156px;
    width: 945px;
    height: 945px;
    z-index: -1;
  }
  .formulation__content {
    padding: 29px 19px 36px 28px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 20px;
  }
  .formulation__detail {
    gap: 21px 52px;
  }
  .btn-fire {
    max-width: 382px;
    display: block;
  }
  .btn-fire__content {
    padding: 15px 23px 15px 75px;
  }
}
.best-offers {
  padding: 39px 0 51px;
  background: #F6F9FC;
}
.best-offers__title {
  margin-bottom: 32px;
}
.best-offers__item {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 22px;
  padding: 36px 37px 35px 36px;
  position: relative;
}
.best-offers__item:not(:last-child) {
  margin-bottom: 15px;
}
.best-offers__item--lite {
  position: relative;
}
.best-offers__item--lite .best-offers__item-title span {
  color: #FFC83E;
}
.best-offers__item--lite::before {
  content: "lite" !important;
}
.best-offers__item--basic .best-offers__item-title span {
  color: #FF7B00;
}
.best-offers__item--basic::before {
  content: "basic" !important;
  background: #FF7B00 !important;
}
.best-offers__item--pro .best-offers__item-title span {
  color: #FA5914;
}
.best-offers__item--pro::before {
  content: "pro" !important;
  background: #FA5914 !important;
}
.best-offers__item-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #45515F;
  margin-bottom: 14px;
}
.best-offers__item-list li + li {
  margin-top: 16px;
}
.best-offers__item-list li {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.best-offers__item-icon {
  max-width: 12px;
  height: 11px;
  display: flex;
}
.best-offers__item-icon svg {
  height: auto;
  max-width: 100%;
}
.best-offers__item-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 182%;
  color: #45515F;
}
.best-offers__item-text span {
  font-weight: 700;
  margin-left: 3px;
}
.best-offers__row {
  margin-bottom: 26px;
}
.best-offers__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 145.5%;
  text-align: center;
  color: #45515F;
}

.option {
  position: relative;
}
.option::before {
  content: "basic";
  display: block;
  position: absolute;
  left: -21px;
  top: 16px;
  width: 93.37px;
  height: 21.48px;
  background: #FFC83E;
  box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
  text-align: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 182%;
  text-transform: uppercase;
  color: #FFFFFF;
  transform: rotate(-45deg);
}

.get-money {
  margin-top: 51px;
}
.get-money__title {
  margin-bottom: 49px;
}
.get-money__row {
  padding: 20px 0 23px;
  position: relative;
  counter-reset: list;
}
.get-money__row::before {
  content: "";
  display: block;
  height: 100%;
  width: 7px;
  background: #FFFFFF;
  border-radius: 8px;
  position: absolute;
  left: 100px;
  top: 0;
}
.get-money__row::after {
  content: "";
  display: block;
  height: attr(data-height);
  width: 7px;
  border-radius: 8px;
  position: absolute;
  left: 100px;
  top: 0;
  z-index: 2;
  background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF9F47 73.78%);
}
.get-money__item {
  counter-increment: list;
  display: flex;
  align-items: center;
  gap: 0 83px;
  justify-content: space-between;
}
.get-money__item.active {
  position: relative;
}
.get-money__item.active .get-money__icon svg path {
  fill: #FFA147;
}
.get-money__item.active .get-money__icon::before {
  background: #FFA147;
  color: #FFFFFF;
}
.get-money__item.active .get-money__text {
  color: #45515F;
}
.get-money__item:not(:last-child) {
  margin-bottom: 80px;
}
.get-money__item:nth-child(1) .get-money__text, .get-money__item:nth-child(2) .get-money__text {
  max-width: 126px;
}
.get-money__item:nth-child(4) .get-money__text {
  max-width: 248px;
}
.get-money__icon {
  max-width: 68px;
  max-height: 77px;
  position: relative;
  display: flex;
  cursor: pointer;
}
.get-money__icon svg {
  display: block;
  height: auto;
  width: auto;
}
.get-money__icon svg path {
  transition: all 300ms;
}
.get-money__icon::before {
  content: counter(list);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 85px;
  width: 34px;
  height: 34px;
  background: #FFFFFF;
  border-radius: 50%;
  z-index: 5;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 145.5%;
  color: #D6D3D3;
}
.get-money__icon:hover svg path {
  fill: #FFA147;
}
.get-money__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 132%;
  color: rgba(69, 81, 95, 0.6);
  transition: all 300ms;
}
.get-money__wrapper-btn {
  margin-top: 46px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .best-offers {
    padding: 50px 0 70px;
  }
  .best-offers__title {
    margin-bottom: 35px;
  }
  .best-offers__item {
    max-width: 408px;
    padding: 34px 30px 35px 63px;
    margin: 0 auto;
  }
  .best-offers__item-title {
    margin-bottom: 17px;
  }
  .best-offers__item-list li + li {
    margin-top: 10px;
  }
  .best-offers__row {
    margin-bottom: 35px;
  }
  .best-offers__text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 145.5%;
    text-align: center;
    color: #45515F;
  }
  .get-money {
    margin-top: 69px;
  }
  .get-money__title {
    margin-bottom: 33px;
  }
  .get-money__row {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .get-money__row::before {
    height: 7px;
    width: 100%;
    left: 0;
    top: 117px;
  }
  .get-money__row::after {
    height: 7px;
    width: 100%;
    left: 0;
    top: 117px;
  }
  .get-money__item {
    flex-direction: column;
    justify-content: unset;
    gap: 90px 0;
  }
  .get-money__item.active {
    position: relative;
  }
  .get-money__item.active .get-money__icon svg path {
    fill: #FFA147;
  }
  .get-money__item.active .get-money__icon::before {
    background: #FFA147;
    color: #FFFFFF;
  }
  .get-money__item.active .get-money__text {
    color: #45515F;
  }
  .get-money__item:not(:last-child) {
    margin-bottom: 0;
  }
  .get-money__icon {
    min-height: 77px;
  }
  .get-money__icon::before {
    content: counter(list);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    bottom: -60px;
  }
  .get-money__text {
    text-align: center;
  }
  .get-money__wrapper-btn {
    margin-top: 46px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .best-offers {
    padding: 54px 0 45px;
  }
  .best-offers__title {
    margin-bottom: 31px;
  }
  .best-offers__item {
    max-width: unset;
    padding: 34px 30px 35px 63px;
    margin: 0;
  }
  .best-offers__item-title {
    margin-bottom: 14px;
  }
  .best-offers__item-list li + li {
    margin-top: 8px;
  }
  .best-offers__row {
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 28px;
  }
  .get-money {
    margin-top: 95px;
  }
  .get-money__title {
    margin-bottom: 72px;
  }
  .get-money__wrapper-btn {
    margin-top: 44px;
  }
}
.how-get {
  padding: 35px 0 42px;
  background: rgba(255, 255, 255, 0.95);
  position: relative;
}
.how-get::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  z-index: 1;
}
.how-get__container {
  position: relative;
  z-index: 2;
}
.how-get__title {
  margin-bottom: 23px;
}
.how-get__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 145.5%;
  color: #45515F;
  margin-bottom: 30px;
  text-align: center;
}
.how-get__row {
  display: flex;
  flex-wrap: wrap;
  gap: 19px 25px;
  justify-content: center;
  margin-bottom: 39px;
}
.how-get__item {
  background: #F6F9FC;
  border-radius: 17.6786px;
  padding: 22px 14.46px 18px;
}
.how-get__img {
  width: 73.93px;
  height: 38.57px;
  margin-bottom: 10px;
}
.how-get__img img {
  width: 100%;
  height: 100%;
}
.how-get__icon {
  width: 13.66px;
  height: 6.43px;
  margin: 0 auto;
}
.how-get__icon svg {
  display: block;
  max-width: 100%;
  height: auto;
}
.how-get__wrapper-btn {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .how-get {
    padding: 55px 0 46px;
  }
  .how-get__title {
    margin-bottom: 14px;
  }
  .how-get__text {
    margin-bottom: 43px;
  }
  .how-get__row {
    gap: 19px 32px;
    margin-bottom: 45px;
  }
  .how-get__item {
    padding: 32px 21px 21px 16px;
  }
  .how-get__img {
    width: 92px;
    height: 48px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 1440px) {
  .how-get__text {
    margin-bottom: 44px;
  }
  .how-get__row {
    gap: 19px 35px;
    margin-bottom: 31px;
  }
  .how-get__item {
    padding: 34px 18px 23px 22px;
  }
  .how-get__img {
    width: 100px;
    height: 54px;
  }
}
.with-us {
  padding: 46px 0 30px;
  background: #F6F9FC;
}
.with-us__title {
  margin-bottom: 39px;
}
.with-us__grid {
  margin-bottom: 30px;
}
.with-us__item {
  display: none;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
  border-radius: 22px;
  padding: 31px 28px 41px 23px;
}
.with-us__item:first-child {
  display: block;
}
.with-us__img-user {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 26px;
}
.with-us__img-user img {
  height: auto;
  max-width: 100%;
}
.with-us__data-user {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #45515F;
  margin-bottom: 19px;
}
.with-us__addres {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #93A0AB;
  margin-bottom: 17px;
  position: relative;
  display: inline-flex;
  gap: 0 8px;
}
.with-us__addres::before {
  content: "";
  display: block;
  width: 12px;
  height: 16px;
  background: url(../images/icon/icon-map.svg) no-repeat;
  background-size: cover;
}
.with-us__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #536473;
  margin-bottom: 8px;
}
.with-us__note {
  display: flex;
  gap: 0 4px;
}
.with-us__icon-note {
  width: 13px;
  height: 12px;
}
.with-us__icon-note svg {
  max-width: 100%;
  height: auto;
}
.with-us__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px 0;
}

.btn-disable {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #45515F;
  padding: 21px 31px 22px 32px;
  border: 1px solid #C9D2DD;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .with-us {
    padding: 66px 0 54px;
  }
  .with-us__grid {
    margin-bottom: 41px;
    display: flex;
    justify-content: space-between;
    gap: 0 15px;
  }
  .with-us__item {
    padding: 51px 27px 47px 29px;
  }
  .with-us__item:nth-child(2) {
    display: block;
  }
  .with-us__text {
    margin-bottom: 27px;
  }
  .with-us__btns {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
  }
}
@media screen and (min-width: 1440px) {
  .with-us {
    padding: 65px 0 38px;
  }
  .with-us__grid {
    margin-bottom: 35px;
    gap: 0 28px;
  }
  .with-us__item {
    padding: 51px 41px 47px 46px;
  }
  .with-us__item:nth-child(3) {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */