.footer{
    padding:32px 0 39px;
    background: url(../images/icon/footer-bg.png) no-repeat;
    background-position:  center;
    background-size: cover;
    &__header{
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 32px;
        margin-bottom: 32px;
        .footer__links{
            display: none;
        }
        
    }
    &__logo{
        display: flex;
        width: 164px;
        // border: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            display: block;
            max-width: 100%;
            height: auto;
        }
        margin-bottom: 24px;
    }
    &__contact{
        display: flex;
        flex-direction: column;
        align-items: center;
       gap: 23px 0;
    }
    &__email{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #FFFFFF;
        position: relative;
        display: flex;
        align-items: center;
        gap: 0 10px;
        order: 2;
        &::before{
            content: '';
            display: block;
            width: 21.33px;
            height: 15px;
            background: url(../images/icon/email.svg) no-repeat;
            background-size: cover;
        }
    }
    &__phone{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;

        position: relative;
        display: flex;
        align-items: center;
        order: 1;
        gap: 0 15px;
        &::before{
            content: '';
            display: block;
            width: 19px;
            height: 19px;
            background: url(../images/icon/icon-phone.svg) no-repeat;
            background-size: cover;
           

        }
    }
    &__nav{
        display: flex;
        justify-content: center;
        padding-bottom: 32px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 32px;

    }

    &__links{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
        &-link{
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
        }
    }
    &__title{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #FFFFFF;        
    }

    &__list-credit{
        padding-bottom: 36px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 27px;
        &-title{
            margin-bottom: 23px;
        }
    }
    &__credit{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
    }
    &__cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px 0;
        margin-bottom: 31px;
        &-title{
            text-align: center;
            margin-bottom: 19px;
        }
        &-row{
            display: flex;
            align-items: center;
            gap: 22px ;
        }
        &-icon{
            max-width: 89px;
            min-width: 74px;
            display: flex;
            align-items: center;
            justify-content: center;
            // border: 1px solid;
            svg{
                max-width: 100%;
                display: block;
                height: auto;
            }
        }
    }
    &__btn{
        border: 1px solid #FFFFFF;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 22px 72px;

        a{
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #FFFFFF;
            text-decoration: underline;
            text-underline-offset: 5px;
        }
        
    }
    &__condition{
        padding-bottom: 34px;
        margin-bottom: 34px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        &-title{
            margin-bottom: 23px;
        }
    }
    &__texts{

        p{
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;            
        }
        p+p{
            margin-top: 29px;
        }
    }

    &__copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 21px 0;
        &-icon{
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg{
                max-width: 100%;
                height: auto;
            }
        }
        &-text{
            max-width:260px;
            margin: 0 auto;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #FFFFFF;
            
        }
        margin-bottom: 33px;
    }
    &__callToAction{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 36px;
        // justify-content: space-between;
        &-btn{
            padding: 14px 28px 12px 32px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: #FEFEFE;
            border: 1px solid #FEFEFE;
            border-radius: 8px;


        }
      
    }
    &__social-media{
        display: flex;
     
        gap: 0 46px;
        &-link{
            display: inline-flex;
            &:not(:last-child){
                position: relative;
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right:-23px ;
                    height: 27px;
                    width: 2px;
                    background: #FFFFFF33;
                }
            }
        }
    }

}


@media screen and (min-width:768px) {
    .footer{
        padding:42px 0 49px;

        &__header{
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 41px;
            margin-bottom: 29px;

          
            
        }
        &__logo{

            align-items: unset;
            margin-bottom: 0;
            flex-grow: 1;
        }
        &__contact{
            flex-grow: 1;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
           gap: 0 10px;
        }
        &__email{

            order: 1;
           
        }
        &__phone{

            order: 2;
        }
        &__nav{
            margin-bottom: 29px;
        }
    
        &__links{
            &-link{
                font-size: 18px;
                line-height: 21px;
            }
        }

    
        &__list-credit{
            padding-bottom: 41px;
        }
        &__credit{
            font-size: 13px;
            line-height: 15px;
            
        }
        &__cards{
            flex-direction: column;
            align-items: unset;
            gap: 41px;
            margin-bottom: 39px;

            &-left{
                display: flex;
                align-items: center;
                gap: 0 37px;
            }
            &-title{
                text-align: unset;
                margin-bottom: 0;
                max-width: 132px;
            }
           
           
        }
        &__btn{

            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0 5px;
            padding: 32px 72px 33px;
    
          
            
        }
        &__condition{
            padding-bottom: 43px;
            margin-bottom: 43px;
           
        }
        &__texts{
    
            p{
                font-size: 13px;
                line-height: 15px;           
            }
            p+p{
                margin-top: 20px;
            }
        }
    
        &__copyright{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0 28px;
           
            &-text{
                max-width:unset;
                margin: 0 ;
            
                
            }
         
        }
    }
}


@media screen and (min-width:1440px) {
    .footer{
        padding:50px 0 41px;

        &__header{

            padding-bottom: 38px;
            margin-bottom: 30px;
          .footer__links{
            display: flex;
            gap: 0 58px;
        }
            
        }
        &__logo{
            flex-grow: unset;
        }
        &__contact{
            flex-grow: unset;
           gap: 0 51px;
        }
       
      
        &__nav{
            margin-bottom: unset;
            display: none;
        }
    
       

    
        &__list-credit{
            padding-bottom: 28px;
            border: unset;
        }
      
        &__cards{
            display: flex;
            flex-direction: row;
            gap: 0 27px;
            margin-bottom: 27px;
            &-right{
                flex-grow: 1;
            }
            &-left{
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                padding-right:59px;
            }
           
        }
        &__btn{
            gap: 0 5px;
        }
        &__condition{
            padding-bottom: 39px;
            margin-bottom: 18px;
           
        }

        &__bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
        &__copyright{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0 28px;
            margin-bottom: unset;
           
            &-text{
                max-width:unset;
                margin: 0 ;
            
                
            }
         
        }
        &__callToAction{
            &-btn{
                padding: 14px 30px 12px;
            }
        }
    }
}