body{
    font-family: 'Rubik';
    font-style: normal;
}

.wrapper-page{
    overflow: hidden;
}

.wrapper{
    padding: 0 10px;
}

.slider-range{
    border: unset;
    box-shadow: unset;
    background: #ECECEC;
    border-radius: 8px;
    .noUi-connect{
        background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF9F47 73.78%);
    }
    .noUi-handle{
        width: 21px;
        height: 21px;
        background: #FFA147;
        box-shadow: unset;
        border: unset;
        border-radius: 50%;
        top: -8px;
        &::after,&::before{
            background: unset;
            height: 6px;
            width: 4px;
            top: 50%;
            transform: translateY(-50%);
            left: auto;
            right: auto;
        }
        &::after{
            background: url(../images/icon/Vector-right.svg) no-repeat;
            background-size: cover;
            left: auto;
            right: 5px;
        }
        &::before{
            background: url(../images/icon/Vector-left.svg) no-repeat;
            background-size: cover;

            left: 5px;
        }
        
    }
    
    .noUi-tooltip{
        background: unset;
        border: unset;
        border-radius: unset;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #45515F;
        bottom: 82%;
        transition: all 300ms;
        
    }
}

.title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 33px;
    text-align: center;
    color: #45515F;
    margin-bottom: 17px;
}

.addres{
    position: relative;
    display: inline-flex;
    gap: 0 8px;
    &::before{
        content: '';
        display: block;
        width: 12px;
        height: 16px;
        background: url(../images/icon/icon-map.svg) no-repeat;
        background-size: cover;

    }

}

html{
    scroll-behavior: smooth;
}

.off{
    position: relative;
    overflow: hidden;
    &::before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        min-height: 100vh;
        background: rgba(#000,.5);
        z-index: 200;
       
    }
    & .header{
        z-index: 3000;
        &__left{
            pointer-events: none;
            opacity: .5;
        }
    }
}

.open{
    right: 0!important;
}

@media screen and (min-width:800px) {
    .wrapper{
        padding: 0 ;
        max-width: 767px;
        margin: 0 auto;
    }
}
@media screen and (min-width:1440px) {
    .wrapper{
        max-width: 1280px;
    }
}